:root {
  --light-blue: #2065a81a;
  --red: #f15a3b;
  --dark-color: #181202;
  --secondary-color: #808080;
  --light-gray: #e4e4e4;
  --body-color: #f6f6f6;
  --ligth-color: #fff;
  --primary-color: #2065a8;
}

body {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

.ptop {
  padding-top: 20px;
}

.mtop {
  margin-top: 100px;
}

a {
  text-decoration: none;
}

.devolum-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--primary-color);
}

.devolum-main-title {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-color);
  padding: 15px 0;
}

.main-btn {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: white;
  border-radius: 35px;
  padding: 10px;
  border: none;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  cursor: pointer;
  width: 140px;
  text-align: center;
}
.main-btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: inherit;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.main-btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
.main-btn:hover::before {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.bg-blue {
  background-color: white;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}
.bg-blue:hover {
  background-color: var(--primary-color);
  color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.bg-red {
  background-color: var(--red);
  border: 2px solid var(--red);
}
.bg-red:hover {
  background-color: white;
  color: var(--red);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.bg-red:hover .main-btn-angle {
  display: block;
  color: var(--red);
}

.main-btn-angle {
  display: none;
  font-size: 12px;
  padding-right: 5px;
}

.logo {
  width: 145px;
  height: auto;
}
.logo img {
  width: 100%;
  height: 100%;
}

.select-box {
  font-size: 16px;
  font-weight: 500;
  color: rgb(76, 76, 76);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
  padding: 0 10px;
}

.main-page-bg {
  background-color: var(--body-color);
}
.main-page-bg .dropdown .dropdown-content {
  background-color: var(--body-color);
}

.devolum-navbar {
  padding: 15px 0;
  display: none;
}
.devolum-navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin-top: 8px;
}
.devolum-navbar ul li a {
  color: rgb(76, 76, 76);
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
}
.devolum-navbar ul li a.active, .devolum-navbar ul li a:hover {
  color: var(--red);
}
@media (min-width: 992px) {
  .devolum-navbar {
    padding: 15px 0;
    display: block;
  }
}

.btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 12px;
  padding: 10px 0;
}

.mobile-navigation {
  width: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  background-color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 10px 0;
  display: none;
}
.mobile-navigation .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 6px;
  padding: 10px 0;
}
.mobile-navigation .btns .main-btn {
  width: 130px;
}
.mobile-navigation .menu-icon {
  display: block;
  color: #1593c6;
  margin-top: 10px;
  gap: 10px;
  font-size: 30px;
}
.mobile-navigation .menu-icon .select-box,
.mobile-navigation .menu-icon .fa-bars {
  display: block;
}
.mobile-navigation .exit-icon {
  display: none;
  color: #1593c6;
  font-size: 30px;
}
.mobile-navigation .list-container {
  background-color: white;
  position: fixed;
  top: 0;
  width: 300px;
  height: 100vh;
  right: -100%;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-right: 20px;
  -webkit-box-shadow: 0px 8px 25px rgba(179, 179, 179, 0.15);
          box-shadow: 0px 8px 25px rgba(179, 179, 179, 0.15);
}
.mobile-navigation .list-container ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 0;
  padding: 0;
}
.mobile-navigation .list-container ul li a {
  color: rgb(76, 76, 76);
  font-size: 16px;
  text-decoration: none;
  font-weight: 700;
  text-align: start;
}
.mobile-navigation .list-container ul li a.active, .mobile-navigation .list-container ul li a:hover {
  color: var(--red);
}
.mobile-navigation .list-container ul li:first-child {
  padding-top: 20px;
}
.mobile-navigation .list-container ul li:last-child {
  padding-bottom: 20px;
}
@media (max-width: 991px) {
  .mobile-navigation {
    display: block;
  }
}

.social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  padding: 10px;
}
.social-icon a {
  display: block;
}
.social-icon i {
  border-radius: 4px;
  color: var(--red);
  background-color: rgba(241, 89, 59, 0.1529411765);
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.social-icon i:hover {
  background-color: var(--red);
  color: white;
}

.devolum-main-second-overly {
  background-color: white;
  border-radius: 60px;
  padding-bottom: 40px;
}

.devolum-main-overly {
  background-color: white;
  border-radius: 60px;
  padding-top: 50px;
  -webkit-transform: translateY(-70px);
          transform: translateY(-70px);
  width: 100%;
  position: relative;
  z-index: 0;
  padding-bottom: 50px;
}
@media (max-width: 991px) {
  .devolum-main-overly {
    -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
  }
}

.devolum-about-us {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .devolum-about-us .devolum-image img {
    width: 350px;
    height: auto;
  }
}
.devolum-about-us .devolum-images .l-img {
  border-radius: 233px;
  width: 355.14px;
  height: 454.19px;
}
@media (max-width: 991px) {
  .devolum-about-us .devolum-images .l-img {
    width: 250.89px;
    height: 320.74px;
  }
}
.devolum-about-us .devolum-about .devolum-paragraph {
  color: var(--secondary-color);
  size: 16px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .devolum-about-us .devolum-about {
    text-align: center;
    margin-top: 50px;
  }
}

.devolum-features {
  margin-top: 100px;
}
.devolum-features .features-box {
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  border-radius: 35px;
  text-align: center;
  padding: 15px;
  margin-top: 50px;
}
.devolum-features .features-box .features-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark-color);
}
.devolum-features .features-box .features-paragraph {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-color);
}

.devolum-reviews {
  margin-top: 100px;
}
.devolum-reviews .review-card {
  background-color: #f9f9f9;
  border: 1px solid #e3e3e3;
  border-radius: 35px;
  padding: 15px;
  position: relative;
}
@media (max-width: 1200px) {
  .devolum-reviews .review-card {
    margin-top: 10px;
  }
}
.devolum-reviews .review-card svg {
  position: absolute;
  top: 0;
  left: 40%;
}
.devolum-reviews .review-card .devolum-review-paragraph {
  font-size: 14px;
  font-weight: 500;
  color: #4c4c4c;
  text-align: center;
}
.devolum-reviews .review-card .user-review {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}
.devolum-reviews .review-card .devolum-review-name {
  font-size: 14px;
  font-weight: 500;
  color: #808080;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}
.devolum-reviews .devolum-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.swiper {
  padding-top: 30px;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-pagination-bullet-active {
  background: var(--red);
}

.swiper-pagination {
  position: relative;
  margin-top: 30px;
}

@media (max-width: 991px) {
  .second-card {
    display: none;
  }
}
.devolum-footer {
  margin-top: 100px;
  background-color: var(--primary-color);
  padding: 20px 10px;
  color: white;
}
.devolum-footer .devolum-footer-text {
  font-size: 16px;
  font-weight: 500;
  padding: 20px 0;
  color: white;
}
.devolum-footer .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  padding: 10px;
}
.devolum-footer .social-icon i {
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.0509803922);
  color: white;
  padding: 10px;
  font-size: 20px;
}
.devolum-footer .social-icon i:hover {
  background-color: white;
  color: var(--red);
}
.devolum-footer .footer-list-title {
  font-size: 20px;
  font-weight: 500;
}
.devolum-footer .footer-list {
  padding: 0;
  line-height: 2;
  list-style: none;
}
.devolum-footer .footer-list li {
  font-size: 16px;
  font-weight: 700;
  text-align: start;
}
.devolum-footer .footer-list li:hover {
  color: var(--red);
}
.devolum-footer .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .devolum-footer .contact-info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.devolum-footer .contact-info i {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border: 0.3px solid rgba(255, 255, 255, 0.6);
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .devolum-footer .devolum-list {
    padding-top: 25px;
  }
}
.devolum-footer .devolum-map {
  border-radius: 6px;
}
.devolum-footer .footer-end {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.devolum-footer .footer-logo img {
  padding-bottom: 20px;
}
.devolum-footer .link-show .devolum-footer-text:hover {
  color: var(--red);
}

.devolum-overly {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 101, 168, 0.61)), to(rgba(32, 101, 168, 0.61))), url("../images/bg2.jpg");
  background-image: linear-gradient(to bottom, rgba(32, 101, 168, 0.61), rgba(32, 101, 168, 0.61)), url("../images/bg2.jpg");
  width: 100%;
  height: 300px;
  background-size: cover;
  color: white;
  padding: 20px;
  background-position: center;
}
.devolum-overly .about-title {
  font-size: 22px;
  font-weight: 600;
  color: var(--red);
}
.devolum-overly .about-text {
  font-size: 28px;
  font-weight: 600;
  color: white;
}
.devolum-overly .overly-text {
  margin-top: 100px;
}

.overly-main-page {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 101, 168, 0.61)), to(rgba(32, 101, 168, 0.61))), url("../images/bg.png");
  background-image: linear-gradient(to bottom, rgba(32, 101, 168, 0.61), rgba(32, 101, 168, 0.61)), url("../images/bg.png");
  height: 550px;
  line-height: 2;
}
.overly-main-page .devolum-content-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--ligth-color);
}
@media (max-width: 600px) {
  .overly-main-page .devolum-content-title {
    font-size: 26px;
  }
}
.overly-main-page .devolum-content-paragraph {
  font-size: 16px;
  font-weight: 500;
  color: var(--light-gray);
  padding: 10px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--ligth-color);
  text-align: center;
  padding: 4px 16px;
  z-index: 1;
  height: 30px;
}
@media (max-width: 991px) {
  .dropdown .dropdown-content {
    padding: 0px 16px;
    height: 20px;
  }
}
.dropdown:hover .dropdown-content {
  display: block;
}

.date-main-page {
  width: 500px;
}
@media (max-width: 600px) {
  .date-main-page {
    width: 100px;
  }
}

.date {
  background-color: white;
  -webkit-box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.04);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  border-radius: 58px;
  z-index: 100;
  position: absolute;
  margin-top: 50px;
  width: 380px;
  height: auto;
  max-width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  padding: 15px 8px;
}
@media (max-width: 600px) {
  .date {
    bottom: 16px;
  }
}
.date input {
  width: 100px;
  border: none;
  font-size: 14px;
  text-align: center;
  padding: 0;
}
.date input:focus {
  outline: none;
}
.date input::-webkit-input-placeholder {
  color: var(--dark-color);
}
.date input::-moz-placeholder {
  color: var(--dark-color);
}
.date input:-ms-input-placeholder {
  color: var(--dark-color);
}
.date input::-ms-input-placeholder {
  color: var(--dark-color);
}
.date input::placeholder {
  color: var(--dark-color);
}
.date .devolum-search {
  font-size: 22px;
  cursor: pointer;
  color: white;
  background-color: var(--red);
  border-radius: 50%;
  padding: 10px;
  border: 2px solid var(--red);
}
.date .devolum-search:hover {
  background-color: var(--ligth-color);
  color: var(--red);
}
.date .location {
  font-size: 16px;
  color: black;
}
.date .devolum-paragraph-date {
  color: rgb(128, 128, 128);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0;
}
.date .fa-chevron-down {
  color: rgb(128, 128, 128);
  font-size: 15px;
}
.date select {
  margin-top: 6px;
  border: none;
  font-size: 14px;
}
.date select:focus {
  outline: none;
}
.date i {
  color: var(--red);
  font-size: 20px;
  padding: 0 8px;
}
.date .devolum-date-section {
  position: relative;
}
.date .devolum-date-section::after {
  content: "";
  position: absolute;
  background-color: #e5e7eb;
  width: 1px;
  height: 32px;
  right: -10px;
  top: 15px;
}

.devolum-trips {
  margin-top: 100px;
}
.devolum-trips .trips-info .trips-title {
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 600;
}
.devolum-trips .trips-info .devolum-trip-text {
  font-size: 26px;
  color: var(--dark-color);
  font-weight: 600;
}
@media (max-width: 991px) {
  .devolum-trips .trips-info {
    text-align: center;
  }
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .card-img {
  border-radius: 35px;
  margin-top: 30px;
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .trip-card-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-color);
  padding-top: 20px;
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .trip-card-paragraph {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray);
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .show-more-link {
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  position: relative;
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .show-more-link:hover {
  color: rgba(241, 89, 59, 0.5882352941);
}
.devolum-trips .devolum-trips-cards .devolum-trips-imgs .show-more-link::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  top: 25px;
  background-color: var(--red);
}

.devolum-blogs {
  background-color: white;
  border-radius: 60px;
  padding: 50px 0;
  width: 100%;
  position: relative;
  z-index: 3;
  margin-top: 100px;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content {
  border-radius: 35px;
  border: 1px solid rgb(240, 240, 240);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  position: relative;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .card-img {
  width: 100%;
  height: 253px;
  border-radius: 19px;
  position: relative;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .overly-date {
  content: "";
  position: absolute;
  color: white;
  background-color: var(--primary-color);
  padding: 10px 12px;
  top: 50px;
  font-size: 12px;
  font-weight: 500;
  border-radius: 35px 0px 0px 35px;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .devolum-blog-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--dark-color);
  padding-top: 20px;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .devolum-blog-paragraph {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .show-more-link {
  font-size: 14px;
  font-weight: 600;
  color: var(--red);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  gap: 5px;
  position: relative;
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .show-more-link:hover {
  color: rgba(241, 89, 59, 0.5882352941);
}
.devolum-blogs .devolum-card-imgs .devolum-card-content .show-more-link::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 1px;
  top: 25px;
  background-color: var(--red);
}
.devolum-blogs .show-more {
  margin-top: 50px;
}

.devolum-contact {
  padding-top: 80px;
}
.devolum-contact .contact-box {
  border-radius: 35px;
  background-color: white;
  height: 318px;
}
@media (max-width: 991px) {
  .devolum-contact {
    text-align: center;
  }
  .devolum-contact .devolum-main-title {
    font-size: 24px;
  }
}

.dropdown-nav-list {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.dropdown-nav-list .dropbtn:hover + .dropdown-content {
  height: auto;
}
.dropdown-nav-list .dropbtn-mobile:hover + .dropdown-content-mobile {
  height: auto;
}
.dropdown-nav-list .dropdown-content {
  height: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.dropdown-nav-list .dropdown-content:hover {
  height: 140px;
}
.dropdown-nav-list .dropdown-content a {
  color: var(--dark-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content-mobile {
  height: 0;
  position: absolute;
  background-color: white;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.dropdown-content-mobile:hover {
  height: auto;
}
.dropdown-content-mobile a {
  color: var(--dark-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.devolum-gallery {
  margin-top: 150px;
}
@media (max-width: 991px) {
  .devolum-gallery {
    margin-top: 0;
  }
}

.gallery {
  -webkit-column-count: 4;
     -moz-column-count: 4;
          column-count: 4;
  --webkit-column-count: 4;
  --moz-column-count: 4;
  gap: 1rem;
}

.image img {
  height: auto;
  width: 100%;
  padding-bottom: 10px;
}

@media screen and (max-width: 810px) {
  .gallery {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    --webkit-column-count: 3;
    --moz-column-count: 3;
  }
}
@media screen and (max-width: 500px) {
  .gallery {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    --webkit-column-count: 2;
    --moz-column-count: 2;
  }
}
@media screen and (max-width: 400px) {
  .gallery {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    --webkit-column-count: 1;
    --moz-column-count: 1;
  }
}
.devolum-first-trip {
  margin-top: 50px;
}
@media (max-width: 991px) {
  .devolum-first-trip {
    margin-top: 150px;
    text-align: center;
  }
}
.devolum-first-trip .content .text .contnet-devolum-title {
  font-size: 32px;
  font-weight: 700;
  color: rgb(17, 43, 60);
}
@media (max-width: 600px) {
  .devolum-first-trip .content .text .contnet-devolum-title {
    font-size: 26px;
  }
}
.devolum-first-trip .content .text .content-paragraph-text {
  color: rgb(128, 128, 128);
  font-size: 22px;
  font-weight: 400;
  padding: 18px 0;
}
.devolum-first-trip .content .devolum-trips-date .date {
  position: relative;
}
.devolum-first-trip .content .devolum-trips-date .date .devolum-date-section::after {
  top: 10px;
}
.devolum-first-trip .content .show-more {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
@media (max-width: 991px) {
  .devolum-first-trip .content .show-more {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 991px) {
  .devolum-first-trip .content-img {
    width: 400px;
    height: auto;
    margin-top: 50px;
    padding-bottom: 20px;
  }
}

.devolum-gallery-page {
  background-color: var(--ligth-color);
  margin-top: 0;
  padding-bottom: 50px;
}
.devolum-gallery-page .gallery-main-title {
  font-size: 20px;
  font-weight: 500;
  color: #1e1e1e;
  text-align: center !important;
  padding: 50px 0;
}

.gallery-contact {
  padding-bottom: 80px;
}

.gallery-footer {
  margin-top: 0;
}

.info-of-trips {
  background-color: rgba(241, 90, 59, 0.0784313725);
  padding: 20px 0;
}
.info-of-trips .trips-info {
  gap: 10px;
}
.info-of-trips .trips-info .fa-clock {
  color: var(--red);
  font-size: 26px;
}
.info-of-trips .trips-info .fa-dollar-sign {
  color: var(--red);
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 50%;
  border: 1px solid var(--red);
  background-color: rgba(241, 90, 59, 0.0784313725);
}
.info-of-trips .trips-info .devolum-trip-text {
  font-size: 16px;
  font-weight: 500;
  color: #4c4c4c;
  margin-bottom: 0;
}
.info-of-trips .trips-info .devolum-trip-text .trip-price {
  color: var(--red);
}

@media (max-width: 991px) {
  .devolum-trips-date .date {
    position: absolute;
    left: 190px;
  }
}